/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

html{
  font-size: 1.125em; /* 18px /16px */
  line-height: 1.2em; /* 18 x 120% = 21.6px */
  background-color: #ADA199;
  color: #1F1C0D;
  font-family: Palatino Linotype, serif;
  padding: 3.4375% 3.4375%; /*22px /2 = 11px  11/320 = 0.034375*/
}

h1{
  font-size: 2.488em; /*44.79px/18px = */
  line-height: 1.4422em; /*64.8px (3lbase lines) / 44.79px*/
  background-image: url("../pictures/brhead.jpg");
  background-size: 100%;
  background-size: cover;
  padding-left: 3.4375%;
}

nav{
  font-size: 1.44em; /* 25.92px/18px */
  line-height: 2.5em; /* 64.8px (3lbase lines) / 25.92px */
  background-color: #604848;
}

nav li{
  display: inline;
}
  
 nav a{
  text-decoration: none;
   color: #C0C0C0;
  background-color: #604848;
  padding: 10px;
}
  
 nav a:hover{
  color: red;
}
 
 figcaption{
  font-size: 0.579em; /* 10.417px /18px */
  line-height: 2.073em; /*21.6px/10.417px*/
  background-color: #604848;
  text-align: center;
}

footer{
  font-size: 0.75em; /* 13.503px /18px */
}

p::first-letter{
  font-size: 150%;
}

.caption::first-letter{
  font-size: 100%;
}
 

/* ===== LAYOUT STYLES ===== */

#homePicture{
  display: block;
  max-width: 60%;
  margin-left: 20%;/*centers image*/
}

nav{
  text-align: center;
} 

p{
  padding-top: 1.2em;
}

article ul{
  padding: 1.2em 0.9em 0 0.9em;
}

article li{
  list-style-type: disc;
}     
        
/* ===== MODULAR STYLES ===== */


/* ===== STATE STYLES ===== */
@media screen and (min-width: 31.25em)/*500px / 16px*/{
  
#homePicture{
  display: block;
  max-width: 40%;
  margin: 0 30%;
}

@media screen and (min-width: 40.625em)/*650px / 16px*/{
  
#home{
  display: inline-block;
  position: absolute;
  max-width: 35.6%; /*231.4 / 650*/
}  

#homePicture{
  margin-left: 0%;
  max-width: 100%;
}

div p{
  padding: 0 0 0 0;
  margin-left:42.2%;/*260px/650px*/
}
.caption{
  margin-left:0%;
}

#homeUL{
  margin-left:42.2%;/*260px/650px*/
}

@media screen and (min-width: 80em)/*1280px / 16px*/{

div p, #homeUL{
  margin-left:0;/
}

#homePicture{
  width: 100%;
}

#home{
  width: 15.6%;
}

#p1, footer{
  padding-left: 22.2%;
  width: 35.6%;
  float: left;
}

#p2, #homeUL{
  padding-left: 62.2%;
  width: 35.6%;
}

}
 
 /*add media query at 950px for 2 columns of text*/